* {
	margin: 0;
	padding: 0;
}
html,body,.container-fluid {
	height: 100%;
	display: flow-root;
	overflow: hidden;
}
.container-fluid{
	overflow: hidden;

}
.container-fluid > .left {
	 min-width: 220px;
	 background-color: #01aa8d;
	 height: 100vh;
	 max-height: 100vh;
	 float: left;
	 color: #ffffff;
 }
.container-fluid > .left a {
	color: #ffffff;
	font-size: 14px;
}
.left > .title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 4em;
	border-bottom: 1px solid #ededed
}
.left >ul.left_nav {
	height: 100%;

}
.left >ul.left_nav > li{
	text-align: center;
	line-height: 3em;
	border-bottom: 1px solid #ededed
}
.left >ul.left_nav > li.current{
	background-color: #ededed;
}
.left >ul.left_nav > li.current a{
	color: #333;
}

.container > .right {
	box-sizing: border-box;
	background-color: #ededed;
	/*margin-left: 220px;*/
	padding: 10px 0 10px 20px;
	height: 100%;
	float: right;
	margin-left: 220px;
	position: absolute;
}
.container > .right >.content {
	border-radius: 5px;
	background-color: #ffffff;
	height: 100%;
	box-sizing: border-box;
	padding: 1em 0 1em 1em;
}
.container > .right >.content >.mb_nav{
	border-bottom: 1px solid #ccc;
	line-height: 2em;
	margin-bottom: .5em;
	min-height: 40px;
	/*position: fixed;*/

}
.right>.content>.mb_nav>.left_nav{
	/*background-color: red;*/
	display: flow-root;
}
.mb_nav>.left_nav>li{
	list-style: none;
	float: left;
}
#wrapper{
	max-height: 600px;
	padding-bottom: 58px;
	box-sizing: border-box;
	height: 100%;
	overflow-y: scroll;
	margin-top: 50px;
}



